.site-main {
}
.contact-me {
}
.contact-me__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  
}
.container {
}
.contact-me__heading {
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin: 0;
}

.contact-me__txt {
  max-width: 635px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.contact-me__list {
  @include list-unstyled;
  display: flex;
  margin-top: 24px;
}
.contact-me__item:not(:last-child) {
  margin-right: 15px;
}