.interested {
  padding-top: 150px;
  padding-bottom: 150px;
}

.interested__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interested__heading {
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  max-width: 350px;
}
.interested__link {
  text-decoration:none;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 35px;
  padding-left: 32px;
  border: 1px solid #33323D;
  text-decoration: none;
  color: #33323D;
}

@include breakpoint-down(582px){
  .interested__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .interested__heading{
    font-family: $font-stack;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.357143px;
    color: #33323D;
  }
}
